/* ***************************GENERAL************************** */
:root {
	--color-dark-color: #141922;
	--color-dark-grey: #282828;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-grey: #717171;
	--color-light-grey: #C1C1C1;
	--color-highlight: #ADFF2F;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.debug{
    border: 1px solid red;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-grey);
}
a{
    color: unset;
    text-decoration: none;
}
li{
    padding: 6px 0;
}
li span{
    margin-left: 03px;
}
/* *****scroll-bar***** */
::-webkit-scrollbar {
    width: 12px;
    padding: 2px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-white); 
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-light-grey); 
    border: 3px solid var(--color-white);
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-grey); 
  }
/* ******************************UTILITY****************************** */
/* *****text***** */
.text-white{
    color: var(--color-white);
    font-weight: bold;
}
.inverted-colors{
    color: var(--color-black);
    background-color: var(--color-grey);
    padding: 18px 10px;
}
/* *****button***** */
.btn{
    background-color: unset;
    color: var(--color-white);
    border:1px solid var(--color-white);
    border-radius: 20px;
    padding: 5px 30px;
    display: inline-block;
}
/* *****flex****** */
.d-flex{
    display: flex;
}
.direction-column{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
/* *****border radius*****/
.circle{
    border-radius: 50%;
}
/* ****************************STUTTURA************************  */
.fixed{
    position: fixed;;
    z-index: 10;
    height: 80px;
}
.container{
    width: 100%;
    height: calc(100vh - 80px);
}
aside{
    width: 250px;
}
main{
width: calc(100% - 250px);
height: calc(100vh - 80px);
overflow-y: auto;
background-color: var(--color-dark-color);
}
header{
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    width: calc(100% - 200px);
}
.main-content{
    margin-top: 100px;
}
aside{
    background-color: var(--color-black);
    overflow-y: auto;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: var(--color-dark-grey);
    width: 100%;
}
/* **********************HEADER-ELEMENTS********************* */
header .btn:first-child{
    position: relative;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
}
/* **********************ASIDE ELEMENTS********************** */
aside li{
    padding-left: 12px;
    transition: all 0.3s linear;
}
aside figure{
    padding: 5px;
    width: 80%;
    margin-bottom: 10px;
}
aside ul{
    margin-bottom: 20px;
}
aside .user i{
    background-color: var(--color-grey);
    color: var(--color-white);
    padding: 1px;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}
.user{
    padding-top: 20px;
    margin: 0px 12px 12px 12px;
    border-top: 1px solid var(--color-white);
}
aside .nav li:hover{
    color: white;
    font-weight: bold;
    border-left: 5px solid var(--color-highlight);
}